BLOCK RESETPATHS ;
LOCATE COMP "in_pclk" SITE "39" ;
LOCATE COMP "in_hs" SITE "40" ;
LOCATE COMP "in_vs" SITE "41" ;
LOCATE COMP "in_oddeven" SITE "42" ;
LOCATE COMP "out_data[0]" SITE "77" ;
LOCATE COMP "out_data[1]" SITE "78" ;
LOCATE COMP "out_data[2]" SITE "81" ;
LOCATE COMP "out_data[3]" SITE "82" ;
LOCATE COMP "out_data[4]" SITE "83" ;
LOCATE COMP "out_data[5]" SITE "84" ;
LOCATE COMP "out_data[6]" SITE "85" ;
LOCATE COMP "out_data[7]" SITE "86" ;
LOCATE COMP "out_data[8]" SITE "87" ;
LOCATE COMP "out_pclk" SITE "89" ;
LOCATE COMP "out_data[9]" SITE "91" ;
LOCATE COMP "out_data[10]" SITE "92" ;
LOCATE COMP "out_data[11]" SITE "93" ;
LOCATE COMP "out_data[12]" SITE "94" ;
LOCATE COMP "out_data[13]" SITE "95" ;
LOCATE COMP "out_data[14]" SITE "96" ;
LOCATE COMP "out_data[15]" SITE "97" ;
LOCATE COMP "out_data[16]" SITE "98" ;
LOCATE COMP "out_data[17]" SITE "99" ;
LOCATE COMP "out_data[18]" SITE "100" ;
LOCATE COMP "out_data[19]" SITE "103" ;
LOCATE COMP "out_data[20]" SITE "104" ;
LOCATE COMP "out_data[21]" SITE "105" ;
LOCATE COMP "out_data[22]" SITE "106" ;
LOCATE COMP "out_data[23]" SITE "107" ;
LOCATE COMP "sram_out_addr[0]" SITE "67" ;
LOCATE COMP "sram_out_addr[1]" SITE "65" ;
LOCATE COMP "sram_out_addr[2]" SITE "63" ;
LOCATE COMP "sram_out_addr[3]" SITE "62" ;
LOCATE COMP "sram_out_addr[4]" SITE "61" ;
LOCATE COMP "sram_out_addr[5]" SITE "48" ;
LOCATE COMP "sram_out_addr[6]" SITE "47" ;
LOCATE COMP "sram_out_addr[7]" SITE "45" ;
LOCATE COMP "sram_out_addr[8]" SITE "44" ;
LOCATE COMP "sram_out_addr[9]" SITE "43" ;
LOCATE COMP "sram_inout_data[10]" SITE "128" ;
LOCATE COMP "sram_inout_data[11]" SITE "127" ;
LOCATE COMP "sram_inout_data[12]" SITE "120" ;
LOCATE COMP "sram_inout_data[13]" SITE "119" ;
LOCATE COMP "sram_inout_data[14]" SITE "117" ;
LOCATE COMP "sram_inout_data[15]" SITE "115" ;
LOCATE COMP "sram_out_addr[10]" SITE "143" ;
LOCATE COMP "sram_out_addr[11]" SITE "142" ;
LOCATE COMP "sram_out_addr[12]" SITE "141" ;
LOCATE COMP "sram_out_addr[13]" SITE "140" ;
LOCATE COMP "sram_out_addr[14]" SITE "139" ;
LOCATE COMP "sram_out_addr[18]" SITE "138" ;
LOCATE COMP "sram_inout_data[8]" SITE "133" ;
LOCATE COMP "sram_inout_data[9]" SITE "132" ;
LOCATE COMP "sram_out_addr[15]" SITE "111" ;
LOCATE COMP "sram_out_addr[16]" SITE "110" ;
LOCATE COMP "sram_out_addr[17]" SITE "109" ;
LOCATE COMP "sram_inout_data[0]" SITE "59" ;
LOCATE COMP "sram_inout_data[1]" SITE "58" ;
LOCATE COMP "sram_inout_data[2]" SITE "57" ;
LOCATE COMP "sram_inout_data[3]" SITE "56" ;
LOCATE COMP "sram_inout_data[4]" SITE "55" ;
LOCATE COMP "sram_inout_data[5]" SITE "54" ;
LOCATE COMP "sram_inout_data[6]" SITE "52" ;
LOCATE COMP "sram_inout_data[7]" SITE "50" ;
LOCATE COMP "sram_we_n" SITE "49" ;
LOCATE COMP "sram_oe_n" SITE "112" ;
LOCATE COMP "sram_ub_n" SITE "113" ;
LOCATE COMP "sram_lb_n" SITE "114" ;
LOCATE COMP "out_vs" SITE "74" ;
LOCATE COMP "out_hs" SITE "75" ;
LOCATE COMP "out_de" SITE "76" ;
LOCATE COMP "sram_busy_n" SITE "121" ;
LOCATE COMP "sram_ce_n" SITE "60" ;
LOCATE COMP "ref_clock" SITE "73" ;
LOCATE COMP "gpio_0" SITE "68" ;
LOCATE COMP "gpio_1" SITE "69" ;
IOBUF PORT "sram_busy_n" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[0]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[1]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[2]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[3]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[4]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[5]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[6]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[7]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[8]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[9]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[10]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[11]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[12]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[13]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[14]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[15]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[16]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[17]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[18]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[19]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[20]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[21]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[22]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_data[23]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_de" SLEWRATE=FAST IO_TYPE=LVTTL33 DRIVE=24 CLAMP=OFF PULLMODE=NONE ;
IOBUF PORT "out_hs" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "out_pclk" IO_TYPE=LVTTL33 CLAMP=OFF SLEWRATE=FAST DRIVE=24 HYSTERESIS=NA DIFFDRIVE="NA" DIFFRESISTOR=OFF OPENDRAIN=OFF PULLMODE=NONE ;
IOBUF PORT "out_vs" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_ce_n" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_lb_n" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_oe_n" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[0]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[1]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[2]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[3]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[4]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[5]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[6]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[7]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[8]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[9]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[10]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[11]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[12]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[13]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[14]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[15]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[16]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[17]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_out_addr[18]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_ub_n" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_we_n" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=OFF ;
IOBUF PORT "sram_inout_data[0]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=ON ;
IOBUF PORT "sram_inout_data[1]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=ON ;
IOBUF PORT "sram_inout_data[2]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=ON ;
IOBUF PORT "sram_inout_data[3]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=ON ;
IOBUF PORT "sram_inout_data[4]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=ON ;
IOBUF PORT "sram_inout_data[5]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=ON ;
IOBUF PORT "sram_inout_data[6]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=ON ;
IOBUF PORT "sram_inout_data[7]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=ON ;
IOBUF PORT "sram_inout_data[8]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=ON ;
IOBUF PORT "sram_inout_data[9]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=ON ;
IOBUF PORT "sram_inout_data[10]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=ON ;
IOBUF PORT "sram_inout_data[11]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=ON ;
IOBUF PORT "sram_inout_data[12]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=ON ;
IOBUF PORT "sram_inout_data[13]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=ON ;
IOBUF PORT "sram_inout_data[14]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=ON ;
IOBUF PORT "sram_inout_data[15]" SLEWRATE=FAST IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 CLAMP=ON ;
IOBUF PORT "in_hs" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "in_pclk" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "ref_clock" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "gpio_0" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "gpio_1" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "in_data[0]" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "in_data[1]" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "in_data[2]" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "in_data[3]" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "in_data[4]" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "in_data[7]" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "in_data[8]" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "in_data[9]" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "in_data[10]" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "in_data[11]" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "in_data[12]" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "in_data[16]" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "in_data[17]" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "in_data[18]" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "in_data[19]" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "in_data[20]" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
IOBUF PORT "in_vs" PULLMODE=NONE IO_TYPE=LVTTL33 CLAMP=ON ;
LOCATE COMP "in_data[29]" SITE "38" ;
LOCATE COMP "in_data[28]" SITE "35" ;
LOCATE COMP "in_data[27]" SITE "34" ;
LOCATE COMP "in_data[26]" SITE "33" ;
LOCATE COMP "in_data[25]" SITE "32" ;
LOCATE COMP "in_data[24]" SITE "31" ;
LOCATE COMP "in_data[23]" SITE "28" ;
LOCATE COMP "in_data[22]" SITE "27" ;
LOCATE COMP "in_data[21]" SITE "26" ;
LOCATE COMP "in_data[20]" SITE "25" ;
LOCATE COMP "in_data[19]" SITE "24" ;
LOCATE COMP "in_data[18]" SITE "23" ;
LOCATE COMP "in_data[17]" SITE "22" ;
LOCATE COMP "in_data[16]" SITE "21" ;
LOCATE COMP "in_data[15]" SITE "20" ;
LOCATE COMP "in_data[14]" SITE "19" ;
LOCATE COMP "in_data[13]" SITE "17" ;
LOCATE COMP "in_data[12]" SITE "15" ;
LOCATE COMP "in_data[11]" SITE "14" ;
LOCATE COMP "in_data[10]" SITE "13" ;
LOCATE COMP "in_data[9]" SITE "12" ;
LOCATE COMP "in_data[8]" SITE "11" ;
LOCATE COMP "in_data[7]" SITE "10" ;
LOCATE COMP "in_data[6]" SITE "9" ;
LOCATE COMP "in_data[5]" SITE "6" ;
LOCATE COMP "in_data[4]" SITE "5" ;
LOCATE COMP "in_data[3]" SITE "4" ;
LOCATE COMP "in_data[2]" SITE "3" ;
LOCATE COMP "in_data[1]" SITE "2" ;
LOCATE COMP "in_data[0]" SITE "1" ;
IOBUF PORT "in_data[15]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "in_data[14]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "in_data[13]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "in_data[6]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "in_data[5]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "in_data[29]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "in_data[28]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "in_data[27]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "in_data[26]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "in_data[25]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "in_data[24]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "in_data[23]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "in_data[22]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "in_data[21]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
OUTPUT PORT "out_data[6]" LOAD 0.000000 pF ;
USE SECONDARY NET "in_hs_c" ;
USE SECONDARY NET "in_pclk_c" ;
USE SECONDARY NET "in_vs_c" ;
DEFINE PORT GROUP "in_data" "in_data[29]" 
"in_data[28]" 
"in_data[27]" 
"in_data[26]" 
"in_data[25]" 
"in_data[24]" 
"in_data[23]" 
"in_data[22]" 
"in_data[21]" 
"in_data[20]" 
"in_data[19]" 
"in_data[18]" 
"in_data[17]" 
"in_data[16]" 
"in_data[15]" 
"in_data[14]" 
"in_data[13]" 
"in_data[12]" 
"in_data[11]" 
"in_data[10]" 
"in_data[9]" 
"in_data[8]" 
"in_data[7]" 
"in_data[6]" 
"in_data[5]" 
"in_data[4]" 
"in_data[3]" 
"in_data[2]" 
"in_data[1]" 
"in_data[0]" ;
DEFINE PORT GROUP "out_data" "out_data[23]" 
"out_data[22]" 
"out_data[21]" 
"out_data[20]" 
"out_data[19]" 
"out_data[18]" 
"out_data[17]" 
"out_data[16]" 
"out_data[15]" 
"out_data[14]" 
"out_data[13]" 
"out_data[12]" 
"out_data[11]" 
"out_data[10]" 
"out_data[9]" 
"out_data[8]" 
"out_data[7]" 
"out_data[6]" 
"out_data[5]" 
"out_data[4]" 
"out_data[3]" 
"out_data[2]" 
"out_data[1]" 
"out_data[0]" ;
DEFINE PORT GROUP "in_ctrl" "in_vs" ;
DEFINE PORT GROUP "out_ctrl" "out_pclk" 
"out_hs" 
"out_vs" 
"out_de" ;
DEFINE PORT GROUP "sram_inout_data" "sram_inout_data[15]" 
"sram_inout_data[14]" 
"sram_inout_data[13]" 
"sram_inout_data[12]" 
"sram_inout_data[11]" 
"sram_inout_data[10]" 
"sram_inout_data[9]" 
"sram_inout_data[8]" 
"sram_inout_data[7]" 
"sram_inout_data[6]" 
"sram_inout_data[5]" 
"sram_inout_data[4]" 
"sram_inout_data[3]" 
"sram_inout_data[2]" 
"sram_inout_data[1]" 
"sram_inout_data[0]" ;
DEFINE PORT GROUP "sram_in_addr" "sram_out_addr[18]" 
"sram_out_addr[17]" 
"sram_out_addr[16]" 
"sram_out_addr[15]" 
"sram_out_addr[14]" 
"sram_out_addr[13]" 
"sram_out_addr[12]" 
"sram_out_addr[11]" 
"sram_out_addr[10]" 
"sram_out_addr[9]" 
"sram_out_addr[8]" 
"sram_out_addr[7]" 
"sram_out_addr[6]" 
"sram_out_addr[5]" 
"sram_out_addr[4]" 
"sram_out_addr[3]" 
"sram_out_addr[2]" 
"sram_out_addr[1]" 
"sram_out_addr[0]" ;
DEFINE PORT GROUP "sram_ctrl" "sram_ce_n" 
"sram_oe_n" 
"sram_we_n" 
"sram_lb_n" 
"sram_ub_n" 
"sram_busy_n" ;
LOCATE COMP "gpio_3" SITE "71" ;
LOCATE COMP "gpio_2" SITE "70" ;
IOBUF PORT "gpio_2" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "in_oddeven" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "gpio_3" IO_TYPE=LVTTL33 PULLMODE=NONE ;
VOLTAGE 2.375 V;
TEMPERATURE 100.000 C;
BLOCK ASYNCPATHS ;
USE PRIMARY NET "out_clk" ;
IOBUF PORT "iled" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 SLEWRATE=FAST ;
LOCATE COMP "out_iled" SITE "125" ;
IOBUF PORT "out_iled" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=24 SLEWRATE=FAST ;
